.container {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 90%;
}

.flex-container {
  height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.flex-header,
.flex-body {
  display: flex;
  width: 100%;
}

.flex-header {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.flex-body {
  flex-direction: column;
}

.flex-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.col {
  padding: 8px;
  text-align: left;
}

.col-2 {
  flex: 2;
}

.col-5 {
  flex: 5;
}
.col-3 {
  flex: 3;
}

.loader {
  text-align: center;
  padding: 10px;
}
