.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  width: 90%;
}

.container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.loader {
  text-align: center;
  padding: 10px;
}
